In [ ]:
!pip install PySpark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PySpark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 44.4 MB/s
Building wheels for collected packages: PySpark
  Building wheel for PySpark (setup.py) ... done
  Created wheel for PySpark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=b19878cbd0c87002bba13312f876ee3e4c87bf4246b3988d87cc65e0c4c3b766
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built PySpark
Installing collected packages: py4j, PySpark
Successfully installed PySpark-3.2.1 py4j-0.10.9.3

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('CostofLiving').getOrCreate()

In [ ]:
df_train= spark.read.csv("/content/Cost_of_Living_Index_2022.csv", header=True, inferSchema=True)
df_train.show()

+----+--------------------+--------------------+----------+------------------------------+---------------+----------------------+----------------------------+
|Rank|             Country|Cost of Living Index|Rent Index|Cost of Living Plus Rent Index|Groceries Index|Restaurant Price Index|Local Purchasing Power Index|
+----+--------------------+--------------------+----------+------------------------------+---------------+----------------------+----------------------------+
|   1|         Afghanistan|               20.37|      2.72|                         12.09|          14.92|                 12.41|                       23.04|
|   2|             Albania|                35.5|      8.47|                         22.83|          29.32|                 25.82|                       30.19|
|   3|             Algeria|               26.87|      4.59|                         16.43|          28.82|                 14.48|                       24.63|
|   4|           Argentina|               34.69|      7.71|                         22.04|          28.17|                 33.32|                       30.72|
|   5|             Armenia|               33.89|     11.61|                         23.45|          27.59|                 30.55|                       28.86|
|   6|           Australia|               77.75|     36.84|                         58.57|          77.44|                 72.95|                      104.63|
|   7|             Austria|               71.04|     27.13|                         50.46|          65.88|                 66.03|                       77.25|
|   8|          Azerbaijan|               29.73|      7.86|                         19.48|          26.57|                 26.73|                       27.26|
|   9|             Bahamas|                84.0|     35.34|                         61.19|          70.59|                 89.09|                       45.07|
|  10|             Bahrain|               54.77|     29.22|                         42.79|          44.59|                 48.94|                       61.41|
|  11|          Bangladesh|               33.13|      4.42|                         19.67|          30.41|                  21.7|                        25.3|
|  12|            Barbados|               92.37|     21.99|                         59.38|          87.81|                 78.18|                       32.08|
|  13|             Belarus|               30.89|      9.81|                         21.01|          27.24|                 31.64|                       31.78|
|  14|             Belgium|               72.61|     25.79|                         50.67|          63.32|                 78.63|                       79.72|
|  15|              Belize|                51.3|     11.64|                         32.71|          48.76|                  36.6|                       45.73|
|  16|             Bermuda|              146.04|     98.58|                         123.8|         148.66|                159.17|                       81.07|
|  17|             Bolivia|               34.77|     10.18|                         23.24|          31.26|                 24.97|                       36.04|
|  18|Bosnia And Herzeg...|               36.12|      6.82|                         22.39|          31.14|                 25.34|                        44.1|
|  19|            Botswana|               40.17|     10.21|                         26.12|          35.16|                  42.5|                       62.63|
|  20|              Brazil|               33.24|      8.27|                         21.54|          28.16|                 25.24|                       27.85|
+----+--------------------+--------------------+----------+------------------------------+---------------+----------------------+----------------------------+
only showing top 20 rows

In [ ]:
df_train.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Cost of Living Index: double (nullable = true)
 |-- Rent Index: double (nullable = true)
 |-- Cost of Living Plus Rent Index: double (nullable = true)
 |-- Groceries Index: double (nullable = true)
 |-- Restaurant Price Index: double (nullable = true)
 |-- Local Purchasing Power Index: double (nullable = true)

In [ ]:
df_train.columns

['Rank',
 'Country',
 'Cost of Living Index',
 'Rent Index',
 'Cost of Living Plus Rent Index',
 'Groceries Index',
 'Restaurant Price Index',
 'Local Purchasing Power Index']

[Rent Index, Cost of Living Plus Rent Index, Groceries Index, Restaurant Price Index, Local Purchasing Power Index]--> new feature--> independant feature

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=['Rent Index','Cost of Living Plus Rent Index','Groceries Index','Restaurant Price Index','Local Purchasing Power Index'], outputCol='Independant Features')

In [ ]:
output=featureassembler.transform(df_train)

In [ ]:
output.show()

+----+--------------------+--------------------+----------+------------------------------+---------------+----------------------+----------------------------+--------------------+
|Rank|             Country|Cost of Living Index|Rent Index|Cost of Living Plus Rent Index|Groceries Index|Restaurant Price Index|Local Purchasing Power Index|Independant Features|
+----+--------------------+--------------------+----------+------------------------------+---------------+----------------------+----------------------------+--------------------+
|   1|         Afghanistan|               20.37|      2.72|                         12.09|          14.92|                 12.41|                       23.04|[2.72,12.09,14.92...|
|   2|             Albania|                35.5|      8.47|                         22.83|          29.32|                 25.82|                       30.19|[8.47,22.83,29.32...|
|   3|             Algeria|               26.87|      4.59|                         16.43|          28.82|                 14.48|                       24.63|[4.59,16.43,28.82...|
|   4|           Argentina|               34.69|      7.71|                         22.04|          28.17|                 33.32|                       30.72|[7.71,22.04,28.17...|
|   5|             Armenia|               33.89|     11.61|                         23.45|          27.59|                 30.55|                       28.86|[11.61,23.45,27.5...|
|   6|           Australia|               77.75|     36.84|                         58.57|          77.44|                 72.95|                      104.63|[36.84,58.57,77.4...|
|   7|             Austria|               71.04|     27.13|                         50.46|          65.88|                 66.03|                       77.25|[27.13,50.46,65.8...|
|   8|          Azerbaijan|               29.73|      7.86|                         19.48|          26.57|                 26.73|                       27.26|[7.86,19.48,26.57...|
|   9|             Bahamas|                84.0|     35.34|                         61.19|          70.59|                 89.09|                       45.07|[35.34,61.19,70.5...|
|  10|             Bahrain|               54.77|     29.22|                         42.79|          44.59|                 48.94|                       61.41|[29.22,42.79,44.5...|
|  11|          Bangladesh|               33.13|      4.42|                         19.67|          30.41|                  21.7|                        25.3|[4.42,19.67,30.41...|
|  12|            Barbados|               92.37|     21.99|                         59.38|          87.81|                 78.18|                       32.08|[21.99,59.38,87.8...|
|  13|             Belarus|               30.89|      9.81|                         21.01|          27.24|                 31.64|                       31.78|[9.81,21.01,27.24...|
|  14|             Belgium|               72.61|     25.79|                         50.67|          63.32|                 78.63|                       79.72|[25.79,50.67,63.3...|
|  15|              Belize|                51.3|     11.64|                         32.71|          48.76|                  36.6|                       45.73|[11.64,32.71,48.7...|
|  16|             Bermuda|              146.04|     98.58|                         123.8|         148.66|                159.17|                       81.07|[98.58,123.8,148....|
|  17|             Bolivia|               34.77|     10.18|                         23.24|          31.26|                 24.97|                       36.04|[10.18,23.24,31.2...|
|  18|Bosnia And Herzeg...|               36.12|      6.82|                         22.39|          31.14|                 25.34|                        44.1|[6.82,22.39,31.14...|
|  19|            Botswana|               40.17|     10.21|                         26.12|          35.16|                  42.5|                       62.63|[10.21,26.12,35.1...|
|  20|              Brazil|               33.24|      8.27|                         21.54|          28.16|                 25.24|                       27.85|[8.27,21.54,28.16...|
+----+--------------------+--------------------+----------+------------------------------+---------------+----------------------+----------------------------+--------------------+
only showing top 20 rows

In [ ]:
output.columns

['Rank',
 'Country',
 'Cost of Living Index',
 'Rent Index',
 'Cost of Living Plus Rent Index',
 'Groceries Index',
 'Restaurant Price Index',
 'Local Purchasing Power Index',
 'Independant Features']

In [ ]:
fin_output= output.select("Independant Features", "Cost of Living Index")

In [ ]:
fin_output.show()

+--------------------+--------------------+
|Independant Features|Cost of Living Index|
+--------------------+--------------------+
|[2.72,12.09,14.92...|               20.37|
|[8.47,22.83,29.32...|                35.5|
|[4.59,16.43,28.82...|               26.87|
|[7.71,22.04,28.17...|               34.69|
|[11.61,23.45,27.5...|               33.89|
|[36.84,58.57,77.4...|               77.75|
|[27.13,50.46,65.8...|               71.04|
|[7.86,19.48,26.57...|               29.73|
|[35.34,61.19,70.5...|                84.0|
|[29.22,42.79,44.5...|               54.77|
|[4.42,19.67,30.41...|               33.13|
|[21.99,59.38,87.8...|               92.37|
|[9.81,21.01,27.24...|               30.89|
|[25.79,50.67,63.3...|               72.61|
|[11.64,32.71,48.7...|                51.3|
|[98.58,123.8,148....|              146.04|
|[10.18,23.24,31.2...|               34.77|
|[6.82,22.39,31.14...|               36.12|
|[10.21,26.12,35.1...|               40.17|
|[8.27,21.54,28.16...|               33.24|
+--------------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.regression import LinearRegression

#train_test_split
train_X, test_X= fin_output.randomSplit([0.8, 0.2])
reg=LinearRegression(featuresCol='Independant Features', labelCol='Cost of Living Index')
reg=reg.fit(train_X)

In [ ]:
reg.coefficients

DenseVector([-0.8826, 1.8829, -0.0002, -0.0002, 0.0])

In [ ]:
reg.intercept

-0.0016730770361358613

In [ ]:
pred=reg.evaluate(test_X)

In [ ]:
pred.predictions.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+--------------------+--------------------+------------------+
|Independant Features|Cost of Living Index|        prediction|
+--------------------+--------------------+------------------+
|[5.16,20.79,39.39...|               34.58| 34.58010535256983|
|[5.17,17.7,29.34,...|               28.75|28.754803369013008|
|[6.06,19.51,26.95...|               31.38| 31.37848931361419|
|[6.71,31.38,67.12...|               53.14| 53.14780832759208|
|[7.71,22.04,28.17...|               34.69| 34.68378135361256|
|[8.23,20.48,37.67...|               31.29| 31.28825592200255|
|[8.27,21.54,28.16...|               33.24| 33.24923405196607|
|[9.26,20.37,26.44...|               30.18|30.172358298693204|
|[10.63,23.29,30.4...|               34.47|  34.4607514786483|
|[11.22,22.54,30.7...|               32.53| 32.52858355243898|
|[11.22,23.72,36.1...|               34.74|34.749322073625194|
|[11.28,25.12,34.4...|               37.34| 37.33194956013131|
|[13.38,32.27,41.9...|               48.94| 48.93843818590621|
|[14.45,27.46,32.4...|               38.95| 38.94011131274866|
|[14.69,29.84,45.1...|               43.21| 43.20879984938194|
|[15.6,30.42,41.92...|               43.49| 43.49658355688592|
|[16.53,29.93,46.0...|               41.77| 41.75374076825487|
|[17.05,27.85,29.4...|               37.39| 37.38058758246509|
|[17.76,31.26,48.0...|               43.16|43.170261240838315|
|[17.9,37.01,47.71...|               53.88| 53.87247840370463|
+--------------------+--------------------+------------------+
only showing top 20 rows

In [ ]:
pred.meanAbsoluteError, pred.meanSquaredError

(0.006794445607992472, 6.469058712473957e-05)